<mat-tab-group animationDuration="0ms" mat-align-tabs="center">
  <mat-tab label="First">
    <div class="mathtab">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo libero eius nulla placeat, 
      dolore fuga unde quibusdam. Nihil esse ab quam aperiam, sit error. Totam reiciendis obcaecati 
      similique praesentium in!
    </div>
  </mat-tab>
  <mat-tab label="Second">
    <div class="mathtab">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita accusamus, molestiae cumque enim 
      id ea. Possimus iure esse expedita nulla deleniti rerum? Possimus quidem asperiores harum commodi 
      alias fugiat excepturi?
    </div>
  </mat-tab>
  <mat-tab label="Third">
    <div class="mathtab">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et corrupti iure error aut porro dicta
       aliquid molestias necessitatibus provident a distinctio repellat dolor, pariatur dolore alias 
       sint quia suscipit voluptate.
    </div>
  </mat-tab>
</mat-tab-group>
